#footer-container {
    margin-left: 75px;
    margin-right: 75px;
    color: #545C66;
    padding-top: 35px;
}

footer {
    background-color: #22252B;
    width: 1440px;
}

.address-footer {
    float: left;
}

.form-footer {
    float: right;
}

.social-icon-background {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #545C66;
}