#footer-container {
    margin-left: 75px;
    margin-right: 75px;
    color: #A8BFD2;
    padding-top: 35px;
}

footer {
    background-color: #22252B;
    width: 1440px;
}

.address-footer {
    float: left;
}

.address-footer img, .footer-phone-number, {
    padding-bottom: 20px;
}

.footer-sitemap {
    padding-bottom: 30px;
}

.footer-street-address {
    padding-bottom: 5px;
}

.form-footer {
    float: right;
}

.social-icon-background {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #545C66;
    margin-right: 35px;
}

.form-footer p {
    padding-bottom: 15px;
}

.social-footer {
    padding-top: 33px;
}

.social-icon-background img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

.form-group .form-control {
    padding-right: 120px;
    border-radius: 0px;
    margin-right: 15px;
    background-color: #22252B;
    border: 1px solid #A8BFD2;
    color: #A8BFD2;
}

input::-webkit-input-placeholder {
    color: #A8BFD2 !important;
}

.footer-form-button {
    border-radius: 0px;
    color: #A8BFD2;
    border: 1px solid #A8BFD2;
    background-color: #22252B;
    padding-right: 22px;
    padding-left: 22px;
}

