.home-container {
    position: relative;
    margin-bottom: 275px;
}


.home-image-container {
    background-image: url("../images/homepage-background.png");
    position: relative;
    width: 100%;
    height: 950px;
}

.home-image-container p {
    color: white;
    text-align: center;
    font-size: 45px;
    padding-bottom: 60px;
    line-height: 50px;
}

// .home-image-container img {
//     -webkit-filter: brightness(40%);
//     opacity: .9;
//     width: 100%;
// }

.home-background-text {
    position: absolute;
    text-align: center;
    top: 27%;
    width: 80%;
    left: 9.5%;

}

.home-container .btn-default {
    color: white;
    background-color: #A52C3B;
    border: none;
    text-align: center;
    font-size: 12px;
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 3px;
}

.home-container-bottom {
    background-color: #282B31;
    width: 100%;
    padding-bottom: 125px;
    padding-top: 125px;
    position: absolute;
    bottom: -275px;
}

.home-container-bottom-holder {
    display: inline-block;
    width: 33%;
}

.home-container-bottom-holder-image {
    background-image: url("../images/About-Icon-Homepage.png");
    background-repeat: no-repeat;
    height: 220px;
    width: 212px;
    margin: 0 auto;
}

.home-container-bottom-holder img {
    display: block;
    margin: 0 auto;
}

.home-container-bottom-holder p {
    padding-top: 50px;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}
