.page-template-front-page div.container {
    margin-left: 0;
    padding-left: 0;
}

.home-image-container {
    position: relative;
}

.home-image-container p {
    color: white;
    text-align: center;
    font-size: 45px;
    padding-bottom: 50px;
}

.home-background-text {
    position: absolute;
    text-align: center;
    top: 290px;
    width: 75%;
    left: 250px;

}


