.page-template-front-page div.container {
    margin-left: 0;
    padding-left: 0;
}


.home-image-container {
    position: relative;
    margin-bottom: -5px;
}

.home-image-container p {
    color: white;
    text-align: center;
    font-size: 45px;
    padding-bottom: 50px;
}

.home-image-container img {
    -webkit-filter: brightness(40%);
}

.home-background-text {
    position: absolute;
    text-align: center;
    top: 290px;
    width: 75%;
    left: 250px;

}

.home-container .btn-default {
    color: white;
    background-color: #A52C3B;
    border: none;
    text-align: center;
    font-size: 12px;
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 3px;
}

.home-container-bottom {
    background-color: #282B31;
    width: 1440px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.home-container-bottom-holder {
    display: inline-block;
    padding-left: 190px;
}
