@font-face {
    font-family: din-med;
    src: url('../../dist/fonts/DIN Medium.ttf');
}

@font-face {
    font-family: cent;
    src: url('../../dist/fonts/CENTURY.TTF');
}


#nav-container {
    margin-bottom: 20px;
    margin-right: 75px;
    margin-left: 75px;
}


.navbar-brand {
    padding: 5px 15px;
}

.cc-logo {
    width: 166px;
    height: 60px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: block;
    float: left;
    padding-top: 20px;
}

.navbar-default {
    background-color: white;
}

.nav>li {
    position: relative;
    display: block;
    float: left;
    padding: 0 1px;
}

.nav>li>a {
    color: black;
    letter-spacing: 1px;
    font-family: din-med;
    font-size: 12px;
}

a.navbar-right {
    background-color: #41A780;
    color: white;
    margin-top: 12px;
    border: none;
    letter-spacing: 3px;
    padding: 9px 22px;
    margin-top: 20px;
    font-family: din-med;
    font-size: 12px;
}

.nav-no-margin {
    margin-bottom: 0;
    width: 100%;
    border-radius: 0px;
}

// MOBILE MENU

.hamburger-menu {
    float: right;
    display: none;
    padding-top: 15px;
}

.hamburger-menu i {
    color: #41A780;
}

.mobile-header-menu {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: #21222A;
    z-index: 10000;
    transition: 350ms;
    transform: translate(0%,-200%);
}

.mobile-toggle {
    transform: translate(0%, 0%);
}

.mobile-nav>li {
    text-align: center;
    height: 90px;
}

.mobile-nav>li>a {
    color: #A3BCCE;
    display: block;
    padding-top: 40px;
}

.mobile-header-menu-toprow {
    height: 90px;
    background-color: #0A0D14;
}

.mobile-header-menu-toprow i{
    color: #41A780;
    float: right;
    padding-right: 10%;
    padding-top: 10px;
}

.mobile-nav>li:nth-of-type(odd) {
    background-color: #10141B;
}

.mobile-nav>li:nth-of-type(even) {
    background-color: #0A0D14;
}

// MOBILE RESPONSIVE

@media (max-width:1030px){
    .nav>li>a {
        font-size: 10px;
    }
}

@media (max-width:975px){
    .nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width:925px){
    .nav>li>a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width:880px){
    .main-header-nav {
        display: none;
    }
}

@media (max-width:767px){
    .main-header-nav-button {
        display: none;
    }

    .hamburger-menu {
        display: inline;
    }

    #nav-container {
        margin-bottom: 11px;
    }

}

// @media (max-width:770px){
//     a.nav-contact-button {
//         display: none;
//     }
// }



