#nav-container {
    margin-bottom: 15px;
    margin-right: 75px;
    margin-left: 75px;
}


.navbar-brand {
    padding: 5px 15px;
}

.cc-logo {
    width: 166px;
    height: 60px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: block;
    float: left;
    padding-top: 20px;
}

.navbar-default {
    background-color: white;
}

.nav>li {
    position: relative;
    display: block;
    float: left;
    padding: 0 3px;
}

.nav>li>a {
    color: black;
}

a.navbar-right {
    background-color: #41A780;
    color: white;
    margin-top: 12px;
    width: 155px;
    height: 45px;
    border: none;
}

.nav-no-margin {
    margin-bottom: 0;
}