@font-face {
    font-family: din-med;
    src: url('../../dist/fonts/DIN Medium.ttf');
}

@font-face {
    font-family: cent;
    src: url('../../dist/fonts/CENTURY.TTF');
}


#nav-container {
    margin-bottom: 20px;
    margin-right: 75px;
    margin-left: 75px;
}


.navbar-brand {
    padding: 5px 15px;
}

.cc-logo {
    width: 166px;
    height: 60px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: block;
    float: left;
    padding-top: 20px;
}

.navbar-default {
    background-color: white;
}

.nav>li {
    position: relative;
    display: block;
    float: left;
    padding: 0 1px;
}

.nav>li>a {
    color: black;
    letter-spacing: 1px;
    font-family: din-med;
    font-size: 12px;
}

a.navbar-right {
    background-color: #41A780;
    color: white;
    margin-top: 12px;
    border: none;
    letter-spacing: 3px;
    padding: 9px 22px;
    margin-top: 20px;
    font-family: din-med;
    font-size: 12px;
}

.nav-no-margin {
    margin-bottom: 0;
    width: 100%;
    border-radius: 0px;
}

// TABLET RESPONSIVE

@media (max-width:1030px){
    .nav>li>a {
        font-size: 10px;
    }
}

@media (max-width:975px){
    .nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width:925px){
    .nav>li>a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width:880px){
    .menu-navigation-menu-container {
        display: none;
    }
}


